*~
*.o
*.so
*.exe
*.dll

# Release archives
*.tar.gz
*.zip

# main executable
dyesub_backend

# staging area for datafiles
datafiles

# symlinks
canonselphy
canonselphyneo
dnpds40
hiti
kodak1400
kodak605
kodak6800
magicard
mitsu70x
mitsu9550
mitsud90
mitsup95d
shinkos1245
shinkos2145
shinkos6145
shinkos6245
sonyupd
sonyupdneo
